<div class="container__big-card">

  <div class="big-card__photo">
    <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2023/03/naruto-2979904.jpg?tf=3840x"
    alt=""
    height="200px"
    width="400px"
    srcset="">

  </div>
  <a href="https://naruto-official.com/en/special/20th">

    <div class="big-card__title">
      <h1>Saiu o remake de Naruto</h1>

      <div class="big-card__description">
        <p>

          De acordo com o site oficial do anime, será uma animação completamente nova
          que irá ao ar pela TV Tokyo e suas afiliadas em quatro episódios inéditos.
          A transmissão acontecerá a partir do dia 9 de setembro com capítulos semanais.

        </p>

      </div>

    </div>

  </a>

</div>
